.dark{
    background-color:#455561;
    color:#FBF5F3;
}

.light{
    background-color: #FBF5F3;
    color: #455561;
}

.caja1{
    width: 360px;
    height: 200px;
    background-color: rgb(216, 216, 216);


}


li{
    text-decoration: none;
    gap: 10rem;
}

.cardsss{
    bottom: 3rem;
}